.button {
    background-color: whitesmoke;
    border: 1px solid #ccc;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    overflow-y: auto;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.button:hover{
    background-color: lightgray;
}

.button:active{
    background-color: darkgrey;
}