.modal {
    display: flex;
    position: fixed;
    z-index: 1024;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    animation: fadein 0.5s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1, 1.1);
  }
  
  @media only screen and (max-width: 750px) {
    .content {
      width: 70%;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .content {
      width: 70%;
    }
  }