.box input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.box input::placeholder {
  color: gree;
  margin-right: 10px;
}

.box input:focus {
  border-color: darkgray;
}
