.outerVotesContainer {
    width: 30px;
    box-sizing: border-box;
    left: 15px;
    padding: 8px 4px 8px 0;
    float: left;
}

.votesContainer {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    fill: inherit;
    -ms-flex-direction: column;
    flex-direction: column;
}

.vote {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: initial;
    z-index: 1;
}

.vote {
    color: gray;
}

.vote.down {
    color: lightblue ;
}

.down:hover{
    color: blue;
}
.down:active {
    color:darkblue;
}

.vote.up {
    color: lightsalmon;
}

.up:hover {
    color: lightcoral;
}

.up:active {
    color: orangered;
}

.postContainer {
    position: relative;
}

.postInfo {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin: 0 8px 8px;
    position: relative;
    height: 20px;
}

.postAuthor {
    flex:0 0 auto;
}

.postTitle {
    font-weight: 500;
    line-height: 22px;
    word-wrap: break-word;
    margin: 0 8px 8px;
}

.postBody {
    min-height: 50px;
    margin: 0 8px 8px;
    overflow-wrap: break-word;
}

.postBody > p {
    color: darkgray;
}

.Post {
    border-radius: 4px;
    padding-left: 20px;
    box-shadow: 0 2px 3px #ccc;
    margin-bottom: 10px;
    margin-right: 20px;
    max-width: 600px;
    min-width: 200px;
    overflow-y: auto !important;
}

.comments {
    margin: 0 8px 8px;
    position: relative;
}

.commentButton {
    color:  #cccc;
    background: transparent;
    border: none;
    padding: initial;
    z-index: 1;
    cursor: pointer;
}

.commentButton:hover
.commentButton:focus {
    color: darkgray;
    text-decoration: none;
    cursor: pointer;
}

.opsContainer {
    top: 10px;
    right: 0px;
    position: absolute;
}

.ops {
    color: gray;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: initial;
    z-index: 1;
}


@media only screen and (max-width: 500px) {
    .Post {
      margin-left: 10px;
      margin-right: 10px;
   
    }
  }