.category {
    border-bottom: 3px solid gray;
    max-width: 300px;
    text-align: center;
    line-height: 100px;
    opacity: 0.6;
    color: gray;
    cursor: pointer;
}

.selected {
    color: darkgray;
}

@media only screen and (max-width: 724px) {
    .category {
        border-bottom: 0px;
        max-width: 300px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        text-align: center;
        line-height: 100px;
        opacity: 0.6;
    }
}