.textArea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    height: 100px;
  }
  
  .textArea:focus {
    border-color: darkgrey;
  }
  