* {
    font-family: Helvetica, sans-serif;
    outline-color: transparent;
}


/*removes default margin & padding*/
html, body{
    padding: 0px !important;
    margin: 0px !important;
}

/*sets body height to max; and allows scrollbar as page content grows*/
body{
    min-height: 100vh;
}



i.fa::before{
    font-size: 18px;
}