.container {
    display: flex;
}

.categoriesContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 150px;
    height: 100vh;
    transition: 0.5s;
    padding-right: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
}

.postsContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-left: 20%;
    height: 100vh;
    overflow-y: auto;
    float: left;
    max-width: 100%;
    height: auto;
    border-left: 3px solid #cccccc;
}

.buttonContainer {
    max-width: 600px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-right: 30px;
    margin-top: 30px;
}

.createButton {
    background-color: whitesmoke;
    border: none;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    overflow-y: auto;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
  
@media only screen and (max-width: 724px) {
    .container {
      display: flex;
      flex-direction: column;
    }
  
    .addButtonPosition {
      left: 10px;
      transform: scale(0.9, 0.9);
      z-index: 2;
    }
  
    .categoriesContainer {
      display: flex;
      flex-direction: row;
      flex: 0 0 10vh;
      
      border-bottom: 2px solid gray;
      border-right: none;
  
      padding-left: 5px;
      padding-right: 5px;
      overflow-y: hidden;
    }
  
    .categoriesContainer:hover {
      overflow-x: auto;
      overflow-y: auto;
    }
  
    .postsContainer {
      padding-left: 5px;
      padding-right: 5px;
      max-height: 100vh;
    }
  }