.commentContainer {
    position: relative;
    padding-left: 15px;
    max-width: 100%;
    border-top: 1px solid gray;
}

.commentInfo {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin: 0 8px 8px;
    position: relative;
    height: 20px;
}

.commentBody {
    min-height: 50px;
    margin: 0 8px 8px;
    overflow-wrap: break-word;
}

.commentAuthor {
    flex:0 0 auto;
}

.commentBody > p {
    color: darkgray;
    font-size: 14px;
}

.vote {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: initial;
    z-index: 1;
}

.vote.down {
    color: lightblue ;
}

.down:hover{
    color: blue;
}
.down:active {
    color:darkblue;
}

.vote.up {
    color: lightsalmon;
}

.up:hover {
    color: lightcoral;
}

.up:active {
    color: orangered;
}

.outerVotesContainer {
    width: 30px;
    box-sizing: border-box;
    left: 15px;
    padding: 8px 4px 8px 0;
    float: left;
}

.votesContainer {
    display: flex;
    flex-direction: column;
    fill: inherit;
    align-items: center;
}